:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: whitesmoke;
  background-color: #1e1e1e;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  font-size: 0;
  display: block;
  filter: brightness(0.8);
}
body {
  background-color: #1e1e1e;
  color: #f8f8f2;
}
